<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sherin Paul</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section id="home" style="text-align: center;">
        <h1>
            <strong>
                <span>
                    Hello! I'm  <span style="color: aqua;">Sherin</span>
                </span>
            </strong>
        </h1>
        <h3>
            I am an aspiring Data Analyst & AI Engineer. 
        </h3>
        <span style="color: white;"> 
            <p>
                Explore my projects, and blog here.
            </p>
        </span>
    </section>

    <section id="projects" style="text-align: center;">
        <h2>Projects</h2>
        <div class="project">
            <h3>#1 Personal Spending Analysis</h3>
            <a href="/dashboard">Go to Dashboard</a>
    </section>

    <!-- <section id="blog">
        <h2>Blog</h2>
        <div class="blog-post">
            <h3>Blog Post Title 1</h3>
            <p>Blog post excerpt...</p>
            <a href="blog1.html">Read more</a>
        </div>
        <div class="blog-post">
            <h3>Blog Post Title 2</h3>
            <p>Blog post excerpt...</p>
            <a href="blog2.html">Read more</a>
        </div>
    </section> -->

    <section id="contact">
        <h2>Contact</h2>
        <form id="contact-form">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>
            
            <button type="submit">Send</button>
        </form>
    </section>

    <footer style="text-align: right; position: relative;">
        <span style="display: inline-block; padding-right: 20px;">
            <p>
                &copy; 2024 SHERIN PAUL
            </p>
        </span>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
