<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/projects.html">Projects</a></li>
                <li><a href="/blogs.html">Blogs</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
            {{ content }} <!-- This placeholder will be replaced by page-specific content -->
        
    </main>


    <footer style="text-align: center;">
        <span style="padding-right: 10px;">
            <p>&copy; 2024 SHERIN PAUL</p>
    </span>
</footer>
</body>
</html>